{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/result.css' %}" />
        <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    </head>
    <body>
        <div>
            {% block file_list %}{% endblock %}
        </div>
        <div>
            {% block upload %}{% endblock %}
        </div>
        <div class="kmeans">
            {% block content %}{% endblock %}
        </div>

        <script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{% static 'js/drag.js' %}"></script>
        <script src="{% static 'js/result.js' %}"></script>
    </body>
</html>