{% extends 'base.html' %}
{% load static %}

<script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/drag.js' %}"></script>


{% block upload %}
<div class="header">
    <p>UPLOAD</p>
</div>
  
<div class="links">
    <a href="{% url 'file_list' %}" class="links">FileList</a>
</div>

<h2>Upload Drag&Drop</h2>

<div id="upload-area">ここにCSVファイルをドロップしてください</div>
<form id="upload-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>



{% endblock %}
